<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <table style="width:100%">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Weight (kg)</th>
      <th>Height (cm)</th>
      <th>Birth Date</th>
      <th>Marital Status</th>
      <th>Actions</th>
    </tr>
    <% let ID = 1 %>
    <% data.forEach(element => {%>
      <tr>
          <td><%= ID %></td>
          <td><%= element.name %></td>
          <td><%= element.weight %></td>
          <td><%= element.height %></td>
          <td><%= element.birthdate %></td>
          <td><%= element.status %></td>
          <td><a class="edit" href="/edit/<%= ID %>" >Edit</button>
            <a class="delete" href="/erase/<%= ID %>" >Delete</button>
          </td>
      </tr>
      <%ID++%>
      <% }); %>
      <% %>  
    </tr>
  </table> 
  <button type="menu" class="add" href="" onclick="location.href='/add';" value="add">Add</button>
</body>
</html>