<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>POSTGRESQL BREAD</title>
</head>

<body>
  <div style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEX/pQDKkkGbAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=)">
  <div class="container" style="padding-top: 1;" >
    <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>
    <h2>Filters</h2>
    <form action="/" method="GET">
      <input type="hidden" name="page" value="1" />
      <div class="row">
        <div class="col-sm-2">
          <input type="hidden" value="x1" name="x1" <%=test.ID=='on' %> />
          <div class="form-check-label">ID</div>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ID" name="xID" placeholder="ID" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2">
          <input type="hidden" value="x2" name="x2" />
          <div class="form-check-label">Name</div>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="xname" placeholder="Name" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2">
          <input type="hidden" value="x3" name="x3" />
          <div class="form-check-label">Weight</div>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="weight" name="xweight" placeholder="Weight" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2">
          <input type="hidden" value="x4" name="x4" />
          <div class="form-check-label">Height</div>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="height" name="xheight" placeholder="Height" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2">
          <input type="hidden" value="x5" name="x5" />
          <div class="form-check-label">Birthdate</div>
        </div>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="datestart" name="xdatestart"
          placeholder="START DATE" style="margin-bottom:  2px;"/>
          <h5 style="margin-left: 50px;">TO</h5>
          <input type="date" class="form-control" id="dateend" name="xdateend"
          placeholder="END DATE" /></div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2">
          <input type="hidden" value="x6" name="x6" />
          <div class="form-check-label">Marital Status</div>
        </div>
        <div class="col-sm-10">
          <div class="form-group">                    
            <select class="form-control" name="xstatus">
            <option value="">--Choose the status--</option>
            <option value="true">True</option>
            <option value="false">False</option>
            </select>
        </div>    
        </div>
      </div>
  </div>
</div>
  <button type="submit" class="btn btn-primary" style="border-radius: 10px; margin-left: 70px; margin-top: 5px; ">Search</button>
  <table class="table table-striped" style="margin: 5px 0px 5px 5px; border-collapse: collapse;">
      <tr style="border: none;">
          <th scope="col" style="border-right: solid 1px #f00; 
          border-left: solid 1px #f00;">ID</th>
          <th scope="col"style="border-right: solid 1px #f00; 
          border-left: solid 1px #f00;">Name</th>
          <th scope="col"style="border-right: solid 1px #f00; 
          border-left: solid 1px #f00;">Weight</th>
          <th scope="col"style="border-right: solid 1px #f00; 
          border-left: solid 1px #f00;">Height</th>
          <th scope="col"style="border-right: solid 1px #f00; 
          border-left: solid 1px #f00;">Birthdate</th>
          <th scope="col"style="border-right: solid 1px #f00; 
          border-left: solid 1px #f00;">Status</th>
          <th scope="col"style="border-right: solid 1px #f00; 
          border-left: solid 1px #f00;">Actions</th>
      </tr>
      
      <% data.forEach((data)=>{ %>
        <tr  style="background-color:pink;">
            <td style="border-right: solid 1px #f00; 
            border-left: solid 1px #f00;"><%= data.ID %></td>
            <td style="border-right: solid 1px #f00; 
            border-left: solid 1px #f00;"><%= data.name %></td>
            <td style="border-right: solid 1px #f00; 
            border-left: solid 1px #f00;"><%= data.weight %></td>
            <td style="border-right: solid 1px #f00; 
            border-left: solid 1px #f00;"><%= data.height %></td>
            <td style="border-right: solid 1px #f00; 
            border-left: solid 1px #f00;"><%= data.birthdate%></td>
            <td style="border-right: solid 1px #f00; 
            border-left: solid 1px #f00;"><%= data.status %></td>
            <td style="border-right: solid 1px #f00; 
            border-left: solid 1px #f00;">
            <a class="btn btn-success" style="border-radius: 15px;" href="edit/<%= data.ID %>">Edit</a>
                <a class="btn btn-danger" style="border-radius: 10px; margin-right: 30px" href="erase/<%= data.ID %>">Delete</a>
            </td>
        </tr>
      <% }) %>
      
  </table>
  <a class="btn btn-primary" style="border-radius: 20px; margin-top: 1px; margin-left: 20px;" href="/add">ADD</a>

  
  <nav aria-label="Page navigation example" style="margin-top:1%">
      <ul class="pagination" class="pagination justify-content-center">
          <li class="page-item <%= current == 1 ? 'disabled' : ''%>"><a class="page-link"
                  href="<%= query.replace(`page=${parseInt(current)}`, `page=${parseInt(current) - 1}`) %>">Previous</a>
          </li>
          <% for(let i = 1; i <= pages; i++){ %>
          <li class="page-item <%= current == i ? 'active' : '' %>"><a class="page-link"
                  href="<%= query.replace(`page=${current}`, `page=${i}`) %>"><%= i %></a></li>
          <% } %>
          <li class="page-item <%= current == pages ? 'disabled' : ''%>"><a class="page-link"
                  href="<%= query.replace(`page=${parseInt(current)}`, `page=${parseInt(current) + 1}`) %>">Next</a>
          </li>
      </ul>
  </nav>
    
</div>

</div>

</form>
  </div>
</body>

</html>