<%- include('partials/header') %>


<form action="" method="GET" id= "formx"> 
  <input type="hidden" name="page" value="1" />
  <h1>BREAD (Browse Read Edit Delete)</h1>

  <input onclick="myFunction1()" type="checkbox" id="myCheck1" />
  <div class="mb-3 row">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Name" name="string" placeholder="Enter your string"
        value="<%= query.string %>" disabled />
    </div>
  </div>

  <input onclick="myFunction2()" type="checkbox" id="myCheck2">
  <div class="mb-3 row">
    <label for="Integer" class="col-sm-2 col-form-label">Integer</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="Integer" name="integer" placeholder="Enter your integer"
        value="<%= query.integer %>" disabled />
    </div>
  </div>

  <input onclick="myFunction3()" type="checkbox" id="myCheck3">
  <div class="mb-3 row">
    <label for="Float" class="col-sm-2 col-form-label">Float</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="Float" name="float" placeholder="Enter your Float"
        value="<%= query.float %>" disabled />
    </div>
  </div>

  <input onclick="myFunction4()" type="checkbox" id="myCheck4">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="start" name="start" value="<%= query.start %>" disabled />
      <br /> to <br /><br />
      <input type="date" class="form-control" id="end" name="end" value="<%= query.end %>" disabled />
    </div>
  </div>

  <input onclick="myFunction5()" type="checkbox" id="myCheck5">
  <div class="mb-3 row">
    <label for="Boolean" class="col-sm-2 col-form-label">Boolean Status</label>
    <div class="col-sm-10">
      <select type="boolean" id="Boolean" name="boolean" disabled>
        <option value="">Choose your choice</option>
        <option value="true" <%=query.boolean=='true' ? ' selected' : '' %>>true</option>
        <option value="false" <%=query.boolean=='false' ? ' selected' : '' %>>false</option>
      </select>

    </div>
  </div>

  <button type="submit" class="btn btn-dark">Search</button>
  
  <a class="btn btn-dark" href="/">Reset</a>

  <br /><br /><br /><br />

</form>

<button id="3" onClick="loadContent()">B3</button>
    
<script type="text/javascript">
  function loadContent(){
        var url = "https://jsonplaceholder.typicode.com/posts/";
        fetch(url).then(response => response.json())
            .then(function(data){
                var template = data.map(post => {
                    return `
                    <h3>${post.title}</h3>
                    <p>${post.body}</p>
                    <hr>
                    `;
                });
                document.getElementById("hasil").innerHTML = template.join('<br>');
            }).catch(function(e){
                alert("gagal mengambil data");
            });
  }
</script>
<script>
  const loadData = () => {
    fetch('http://localhost:3000')
    .then(response => response.json()
    .then(data => {
      let html =''
      data.forEach(item =>{
        html =+ `
        <tr>
          <td>${item.string}</td>
          <td>${item.integer}</td>
        </tr>`
      });
      document.getElementById('formx').innerHTML =html
      })
    )}
</script>

  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>String</th>
      <th>Integer</th>
      <th>Float</th>
      <th>Date</th>
      <th>Boolean</th>
      <th>Action</th>
    </tr>
    <% nama.forEach((item, index)=> { %>
      <tr>
        <td>
          <%= item._id%>
        </td>
        <td>
          <%= item.string %>
        </td>
        <td>
          <%= item.integer %>
        </td>
        <td>
          <%= item.float%>
        </td>
        <td>
          <%= moment(item.date).format('D MMMM YYYY') %>
        </td>
        <td>
          <%= item.boolean %>
        </td>
        <td>
          <a class="btn btn-success" href="/edit/<%= item._id %>">edit</a>
          <a class="btn btn-danger" href="/delete/<%= item._id %>">delete</a>
        </td>
      </tr>
      <% }) %>
  </table>

  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item ">
        <% if(page> 1) { %>
          <% let i=page %>
            <% i-- %>
              <a class="page-link " href="<%= url.replace(`page=${page}`, `page=${i}`) %>">Previous</a>
              <% } %>
      </li>
      <% for(let i=1; i <=pages ; i++) { %>
        <li class="page-item <%= page == i ? 'active' : '' %>"><a class="page-link"
            href="<%= url.replace(`page=${page}`, `page=${i}`) %>">
            <%= i %>
          </a></li>
        <% } %>
          </li>


          <li class="page-item">
            <% if(page <=pages - 1) { %>
              <% let i=page %>
                <% i++ %>
                  <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>">Next</a>
                  <% } %>
          </li>
    </ul>
  </nav>

  <a class="btn btn-primary" href="add"> Add</a>


  <script>
    function myFunction1() {
      if (document.getElementById("myCheck1").checked == true) {
        document.getElementById("Name").disabled = false;
      }
      else {
        document.getElementById("Name").disabled = true;
      }

    }
    function myFunction2() {
      if (document.getElementById("myCheck2").checked == true) {
        document.getElementById("Integer").disabled = false;
      }
      else {
        document.getElementById("Integer").disabled = true;
      }

    }

    function myFunction3() {
      if (document.getElementById("myCheck3").checked == true) {
        document.getElementById("Float").disabled = false;
      }
      else {
        document.getElementById("Float").disabled = true;
      }

    }

    function myFunction4() {
      if (document.getElementById("myCheck4").checked == true) {
        document.getElementById("start").disabled = false;
        document.getElementById("end").disabled = false;
      }
      else {
        document.getElementById("start").disabled = true;
        document.getElementById("end").disabled = true;
      }

    }

    function myFunction5() {
      if (document.getElementById("myCheck5").checked == true) {
        document.getElementById("Boolean").disabled = false;
      }
      else {
        document.getElementById("Boolean").disabled = true;
      }

    }
  </script>



  <%- include('partials/footer') %>